<nav class="container m-4">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="navId">
        <li class="nav-item mx-5">
            <a href="/videos">videos</a>    
          
        </li>
        <li class="nav-item mx-5">
            <a href="/videos/video/1">videos id</a>     
            
        </li>
        <li class="nav-item mx-5">
            <a href="/templates">templates</a>  
        </li>
        <li class="nav-item mx-5">
            <a href="/templates/template/1">template id</a>        
        </li>
    </ul>
       
    </nav>